html *{
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    color: #cf012f !important;
}
h1{
    font-weight: 900;
}

body{
    color: #550622;
}

.navbar-default {
    margin-bottom: 0px;
}

.jumbotron{
    background-color: white;
    /*height: 500px;*/
}

.header-image{
    max-height: 450px;
}

.list-group-item {
    display: list-item;
}

.dashboard{
    margin-top: 100px;
}

.showcase{
    margin-top: 50px;
    -webkit-box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
}

.create-recipe{
    height: 240px;
    width: 80%;
    color: #ccd0d2;
    margin: 35px auto;
    display: block;
    border-radius: 6px;
}
.create-recipe:hover{
    background-color: #f7f3f8;
}

.recipe{
    height: 300px;
    width: 100%;
    color: #ccd0d2;
    margin: 20px auto;
    padding: 15px;
    border: none;
    position: relative;
}
.recipe:hover{
    background-color: #f7f3f8;
    border-radius: 7px;
}

.recipe div{
    height: 240px;
    overflow: hidden;
    border-radius: 6px;
}

.recipe-bullet{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #cf012f;
    display: inline-block;
    position: relative;
    left: 8px;
    top: 3px;
    z-index: 0;
}

.recipe img{
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
}

.recipe h3{
    margin-top: 10px;
    margin-bottom: 0px;
}

.recipe-modal{
    padding: 40px;
}

.modal-header{
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.recipe-img{
    /*height: auto;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*top: -200px;*/
    width: auto\9;
    height: auto;
    max-width: 100%; /* Auto scale */
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.recipe-subtitle{
    margin: 50px 0 20px 0;
}

/*Button Styles*/
.btn-primary, .btn-primary:visited{
    background-color: #cf012f;
    border: none;
    color: white;
}
.btn-primary:hover,
.btn-primary:active{
    background-color: #e2012f;
    border: none;
}
.btn-primary:active:focus{
    background-color: #b9012f;
    border: none;
}
.btn-primary.disabled:hover,
.btn-primary.disabled.focus{
    background-color: #ff244f;
    border: none;
}

.btn-default:focus,
.btn-default:active{
    background-color: transparent;
    border-color: #cf012f;
}

/*Link Styles*/
a, .btn-link{
    color: #cf012f;
}
a:hover,
.btn-link:hover{
    color: #e2012f;
}
a:visited,
.btn-link:visited{
    color: #b9012f;
}

/*Navbar Style*/
.navbar-default{
    background: none;
    font-size: 1.1em;
}

.user-name{
    margin: 15px 20px 0px 20px;
}

.remove-item{
    margin-left: 5px;
    font-size: 0.9em;
    color: #cccccc;
    display: inline-block;
}
.remove-item:hover{
    color: #cf012f;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

ul, ol{
    margin-top: 20px;
}
ol{
    margin-left: -25px;
}

.form-title{
    font-size: 2.5em;
    font-weight: 900;
    height: 55px;
}
.form-title:focus{
    color: #cf012f;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border: 1px solid rgba(207, 1, 47, 1);
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(207, 1, 47, 0.4);*/
    box-shadow: none;
    outline: 0 none;
}

/*----------------------------------------*/
/* ===========  Helper Classes ========== */
/*----------------------------------------*/
.text-small{
    font-size: 0.95em;
}

.text-red{
    color: #cf012f;
}

.text-white{
    color: white;
}

.text-gray{
    color: #cccccc;
}

.text-caption{
    font-size: 0.7em;
    margin: 5px;
}

.text-thin{
    font-weight: 500;
}

.text-brown{
    color: #550622;
}

.icon-2x{
    font-size: 1.5em;
    margin: 20px;
}

.no-space {
    padding: 0;
    margin: 0;
}

.space-top{
    margin-top: 10px;
}

.margin-top-lg{
    margin-top: 50px;
}

.thin-column-right{
    padding-right: 5px;
}
.thin-column{
    padding-right: 5px;
    padding-left: 5px;
}
.thin-column-left{
    padding-left: 5px;
}

[v-cloak] { display:none; }