html *{
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    color: #cf012f !important;
}

body{
    color: #550622;;
}

.navbar-default {
    margin-bottom: 0px;
}

.jumbotron{
    background-color: white;
    height: 500px;
}

.list-group-item {
    display: list-item;
}

.dashboard{
    margin-top: 100px;
}

.showcase{
    margin-top: 50px;
    -webkit-box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 24px 1px rgba(0,0,0,0.3);
}

.create-recipe{
    height: 300px;
    width: 100%;
    color: #ccd0d2;
    margin: 20px auto;
    display: block;
}

.recipe{
    height: 300px;
    width: 100%;
    color: #ccd0d2;
    margin: 20px auto;
    padding: 10px;
    border: none;
    position: relative;
}
.recipe div{
    height: 240px;
    overflow: hidden;
    border-radius: 5px;
}

.recipe img{
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
}

.recipe h3{
    margin-top: 10px;
    margin-bottom: 0px;
}

/*Helper Classes*/
.text-small{
    font-size: 0.95em;
}

.text-red{
    color: #cf012f;
}

[v-cloak] { display:none; }